# Flutter
.dart_tool/
build/
.pub-cache/
pubspec.lock
*.iml
*.lock
*.log
*.key
*.pem

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store

# Backup
*.backup
*.tmp
*.temp

# Android
android/app/debug/
android/app/profile/
android/app/release/

# iOS
ios/Pods/
ios/.symlinks/

# Web
web/favicon.png.backup




